/* Reset CSS */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.ant-layout{
    background-color: #F0EFEF;
}

.wrapper {
    width: auto;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
select,
textarea,
a {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    line-height: normal;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
